sudo: required
dist: trusty
language: node_js
node_js:
  - '6.9'
  - '7.0'

script:
  - npm run build

after_script:
  - cd src/modules/@ng-hydration/renderer
  - npm install
  - npm run prepublish
  - cd ../router
  - npm install
  - npm run prepublish
